.offer-calc-error{
	color:red;
}
.manage-column.column-shortcode {
    width: 30%;
}
.manage-column.column-service_fields {
    width: 10%;
}	

/* pro version notification */
.offercalc-message{
	position:relative;
	border-left-color:#1199c2!important;
	overflow:hidden
}
.offercalc-message p{
	float:left;
}
.offercalc-message p.submit{
	float:right!important;
}
.offercalc-message a.button-primary,p.offercalc-actions a.button-primary{
	background:#1199c2;
	border-color:#1166a4;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	color:#fff;
	text-decoration:none;
	
}
.offercalc-message a.button-primary:hover,p.offercalc-actions a.button-primary:hover{
	background:#2277ae;
	border-color:#11559a;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15)
}
.offercalc-message a.button-primary:active,p.offercalc-actions a.button-primary:active{
	background:#aa559a;
	border-color:#aa559a
}
.offercalc-message a.docs,.offercalc-message a.skip,p.offercalc-actions a.docs,p.offercalc-actions a.skip{
	opacity:.7
}
.offercalc-message .twitter-share-button,p.offercalc-actions .twitter-share-button{
	vertical-align:middle;
	margin-left:3px
}

/* ------------------------------ HELP PAGE ------------------------------ */
.oc-help-page ::selection {
	color: #fff;
	background: #66d344;
}

.oc-help-page ul {
	margin-left: 20px;
}
.oc-help-page li {
	list-style: disc;
}

.oc-help-page p {
	line-height: 2em;
}

.oc-help-page img {
	max-width: 100%;
	height: auto;
}

.oc-help-page hr {
	border: none;
	border-bottom: 1px solid #f0f0f0;
	margin: 40px 0;
}

.oc-help-page .content {
	width: 65%;
	margin-right: 5%;
}
.oc-help-page .sidebar {
	width: 30%;
}

.oc-help-page .content,
.oc-help-page .sidebar  {
	background: white;
	padding: 30px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.oc-help-page .page-welcome {
	margin: 0 0 40px 0;
	padding: 10px;
	/*border-bottom: 1px solid #f0f0f0;*/
	background: #66d344;
	color: white;

}

.oc-help-page .page-welcome span {
	font-weight: bold;
}

.oc-help-page .row :after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.oc-help-page .row  {
    display: inline-block;
    width: 100%;
}

.oc-help-page .row .box {
	margin: 0;
}

.oc-help-page .row .one-third {
	width: 30%;
	min-height: 180px;
	margin-right: 3%;
	float: left;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.oc-help-page .box {
	border: 1px solid #f0f0f0;
	padding: 20px;
	margin-bottom: 20px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	-webkit-transition: ease 0.6s all;
	-o-transition: ease 0.6s all;
	transition: ease 0.6s all;

	color: #888;
}

.oc-help-page .box:hover {
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
	-webkit-transition: ease 0.2s all;
	-o-transition: ease 0.2s all;
	transition: ease 0.2s all;

	color: #333;
}

.oc-help-page .box > img {
	opacity: 0.9;
	-webkit-transition: ease 0.6s all;
	-o-transition: ease 0.6s all;
	transition: ease 0.6s all;

}
.oc-help-page .box:hover > img {
	opacity: 1;
	-webkit-transition: ease 0.2s all;
	-o-transition: ease 0.2s all;
	transition: ease 0.2s all;
}

.oc-help-page .box p { line-height: 1.3em; }
.oc-help-page .box p:first-child { margin-top: 0; }
.oc-help-page .box p:last-child { margin-bottom: 0; }

.oc-help-page .box.yellow:before,
.oc-help-page .box.green:before,
.oc-help-page .box.blue:before {
	content: "";
	height: 5px;
	display: block;
	margin-top: -20px;
	margin-bottom: 20px;
}

.oc-help-page .box.yellow:before { background: #ffd800; }
.oc-help-page .box.green:before { background: #4fb509; }
.oc-help-page .box.blue:before { background: #009cff; }

.oc-help-page .box > *:last-child { margin-bottom: 0; padding-bottom: 0; }

.oc-help-page h2.content-title {
	border-left: 3px solid #333;
	line-height: 1em;
	padding: 0 0 0 20px;	
}

.oc-help-page .dx-footer {
	border-top: 1px solid #f0f0f0;
	margin: 30px -30px 0 -30px;
	padding: 30px 30px 0 30px;
}

#offer-calc-help-content h3 {
	margin-top: 20px;
}

tr .chzn-container{  width:200px !important;}
tr .chzn-drop { width:198px !important;}
tr .chzn-search input { width:163px !important;}

@media (max-width: 1000px) {
	.oc-help-page .row .one-third {
		width: 100%;
		float: none;
		margin-top: 30px;
	}

	.oc-help-page .row .one-third:first-child {
		margin-top: 0;
	}

	.oc-help-page .sidebar,
	.oc-help-page .content {
		width: 100%;
		float: none;
	}
}
.offer-calc-price-error, .offer-calc-offer-price-error, .offer-calc-vat-amount-error, .offer-calc-meta-error {
	color: red;
}
.wpd-mb-meta-multiple_textbox{
	/*width:20%;	*/
}

.repeater-table input[type="text"] {
	width: 100% !important;
	max-width: 320px;
}

.repeater-table input[type="text"].wpd-mb-meta-multiple_textbox {
	width: 100%;
}

.repeater-table th {
	width: auto;
}

@media (min-width: 1200px) {
	.repeater-table input[type="text"].wpd-mb-meta-multiple_textbox {
		width: 33.3333% !important;
		max-width: 100px;
	}

	.repeater-table input[type="text"] {
		width: 100% !important;
		max-width: 267px;
	}
}